:root {
  /* FONT */
  --font-dm-sans: "Dm sans", sans-serif;

  /* COLORS */
  --bg-icon: #131313;
  --bg-arrow-color: rgba(0, 0, 07);
  --bg-search-color: #242424;
  --login-color: #000;
}
